@import "~src/assets/styles/variables";

.card {
  float: left;
  width: 300px;
  padding: $space;
  .cartoon-name {
    background: $dark-grey;
    opacity: 0.8;
    h3 {
      padding: 1em;
      margin-top: -63px;
      font-weight: 200;
      color: $cardTitle;
    }
  }
  li {
    list-style: none;
  }
}
