<div class="card">
  <img [src]="cartoon.image" alt="">
  <div class="cartoon-name">
    <h3>{{ cartoon.name }}</h3>
  </div>
  <div class="info">
    <ul>
      <li>
        <p><span>Status</span> {{ cartoon.status }}</p>
      </li>
      <li>
        <p><span>Species</span> {{ cartoon.species }}</p>
      </li>
      <li>
        <p><span>Gender</span> {{ cartoon.gender }}</p>
      </li>
      <li>
        <p><span>Origin</span> {{ cartoon.origin.name }}</p>
      </li>
      <li>
        <p><span>Last location</span> {{ cartoon.location.name }}</p>
      </li>
    </ul>
  </div>
</div>
