@import "~src/assets/styles/variables";
::ng-deep {
  height: 200px;
}

.title {
  text-align: center;
  margin: 0 auto;
  width: 25em;
  h1  {
    font-size: 2.7em;
    text-transform: uppercase;
    color: $dark-grey;
    margin-bottom: 0;
    font-weight: 500;
  }
  .subtitle {
    background: $dark-grey;
    margin-top: -10px;
    transform: skewX(-15deg);
    h2 {
      transform: skewX(15deg);
      margin-top: 0;
      text-transform: uppercase;
      color: $orange;
      font-size: 0.9em;
      padding-top: 2px;
    }
  }

}
