// Colors

$dark-grey: rgb(51, 51, 51);
$light-grey: rgb(158, 158, 158);
$orange: rgb(255, 152, 0);

$lightBg: #FFFFFF;
$darkBg: #202329;

$cardTitle: rgb(245, 245, 245);
$cardBg: rgb(51, 51, 51);
$cardShadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);

$space: 10px;
